<mat-card>
  <app-text-input
    *ngIf="internalType == 'text'"
    [name]="getName()"
    [hintlabel]="hintlabel"
    [maxLength]="maxLength"
    [max]="max"
    [minLength]="minLength"
    [min]="min"
    [required]="required"
    [tooltip]="tooltip"
    [disabled]="disabled">
  </app-text-input>
  <app-date-input
    *ngIf="internalType == 'date'"
    [name]="getName()"
    [hintlabel]="hintlabel"
    [maxLength]="maxLength"
    [max]="max"
    [minLength]="minLength"
    [min]="min"
    [required]="required"
    [tooltip]="tooltip"
    [disabled]="disabled">
  </app-date-input>
  <app-select
    *ngIf="internalType == 'select'"
    [name]="getName()"
    [hintlabel]="hintlabel"
    [maxLength]="maxLength"
    [max]="max"
    [options]="options"
    [minLength]="minLength"
    [min]="min"
    [required]="required"
    [tooltip]="tooltip"
    [disabled]="disabled">
  </app-select>
  <app-checkbox
    *ngIf="internalType == 'checkbox'"
    [name]="getName()"
    [hintlabel]="hintlabel"
    [maxLength]="maxLength"
    [max]="max"
    [minLength]="minLength"
    [min]="min"
    [required]="required"
    [tooltip]="tooltip"
    [disabled]="disabled">
  </app-checkbox>
  <app-autocomplete
    *ngIf="internalType == 'autocomplete'"
    [name]="getName()"
    [hintlabel]="hintlabel"
    [maxLength]="maxLength"
    [max]="max"
    [minLength]="minLength"
    [min]="min"
    [required]="required"
    [tooltip]="tooltip"
    [disabled]="disabled"
    [options]="options">
  </app-autocomplete>
  <app-radiobutton
    *ngIf="internalType == 'radiobutton'"
    [name]="getName()"
    [hintlabel]="hintlabel"
    [maxLength]="maxLength"
    [max]="max"
    [minLength]="minLength"
    [min]="min"
    [required]="required"
    [tooltip]="tooltip"
    [disabled]="disabled">
  </app-radiobutton>
  <app-slider
    *ngIf="internalType == 'slider'"
    [name]="getName()"
    [hintlabel]="hintlabel"
    [maxLength]="maxLength"
    [max]="max"
    [minLength]="minLength"
    [min]="min"
    [config]="sliderOptions"
    [required]="required"
    [tooltip]="tooltip"
    [disabled]="disabled">
  </app-slider>
  <app-slidetoggle
    *ngIf="internalType == 'slideToggle'"
    [name]="getName()"
    [hintlabel]="hintlabel"
    [tooltip]="tooltip"
    [disabled]="disabled">
  </app-slidetoggle>
</mat-card>
