
<mat-grid-list cols="4" rowHeight="400px">
  <mat-grid-tile style="background-color: lightblue" [colspan]="1" [rowspan]="2">
    <mat-grid-tile-header>
      <h3> Menü </h3>
    </mat-grid-tile-header>
    <app-tree [data]="dataSource"></app-tree>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]=".5">
    <mat-grid-tile-header>
      <h3>Vorschau</h3>
    </mat-grid-tile-header>
    <app-field [disabled]="dis" [required]="required" name="home_ui_new">
    </app-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="1">

    <mat-grid-tile-header>
      <h3>Feldkonfiguration</h3>
    </mat-grid-tile-header>
    <app-controlpanel [disabledEmitter]="disabled" [requiredEmitter]="reqE">
    </app-controlpanel>
  </mat-grid-tile>
</mat-grid-list>
