<mat-card>
  <app-text-input *ngIf="internalType == 'text'"
                  [form]="form" [name]="name"
                  [control]="control"
                  [hintlabel]="hintlabel"
                  [maxLength]="maxLength"
                  [max]="max"
                  [minLength]="minLength"
                  [min]="min"
                  [placeholder]="placeholder"
                  [required]="required"
                  [tooltip]="tooltip"
                  [disabled]="disabled"
  ></app-text-input>
  <app-date-input *ngIf="internalType == 'date'"
                  [form]="form" [name]="name"
                  [hintlabel]="hintlabel"
                  [maxLength]="maxLength"
                  [max]="max"
                  [minLength]="minLength"
                  [min]="min"
                  [placeholder]="placeholder"
                  [required]="required"
                  [tooltip]="tooltip"
                  [disabled]="disabled"
  ></app-date-input>
  <app-select *ngIf="internalType == 'select'"
              [form]="form" [name]="name"
              [hintlabel]="hintlabel"
              [maxLength]="maxLength"
              [max]="max"
              [options]="options"
              [minLength]="minLength"
              [min]="min"
              [placeholder]="placeholder"
              [required]="required"
              [tooltip]="tooltip"
              [disabled]="disabled"
  ></app-select>
  <app-checkbox *ngIf="internalType == 'checkbox'"
                [form]="form" [name]="name"
                [hintlabel]="hintlabel"
                [maxLength]="maxLength"
                [max]="max"
                [minLength]="minLength"
                [min]="min"
                [placeholder]="placeholder"
                [required]="required"
                [tooltip]="tooltip"
                [disabled]="disabled"
  ></app-checkbox>
</mat-card>
