/* You can add global styles to this file, and also import other style files */
app-select, app-text-input, app-autocomplete {
  width: 100%;
  // padding: 5px 10px;
}

app-controlpanel, mat-form-field {
  width: 100%;
}

app-tree {
  height: 86%;
  overflow-y: scroll;
  margin:10px;
}

app-tree::-webkit-scrollbar {
  display: none;
}
.scrollable > .mat-grid-tile-content {
  overflow-y: scroll;
  overflow-x: hidden;
}
