<mat-grid-list cols="4" rowHeight="400px">
  <mat-grid-tile
    style="background-color: lightblue"
    [colspan]="1"
    [rowspan]="2">
    <mat-grid-tile-header>
      <h3>Items</h3>
    </mat-grid-tile-header>
    <app-tree [data]="dataSource"></app-tree>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="2">
    <mat-grid-tile-header>
      <h3>Texte</h3>
    </mat-grid-tile-header>
    <mat-list>
      <div *ngFor="let folder of configs | keyvalue">
        <!--div mat-subheader>{{ folder.key }}</div-->
        <mat-list-item>
          <div mat-line>
            <mat-form-field>
              <mat-label>{{ folder.key }}</mat-label>
              <input style="width:100%;" matInput type="text"
                (change)="changeTxt(folder.key.toString(), $event)" [value]="folder.value"/>
              <button
                *ngIf="folder.value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="folder.value = ''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </mat-list-item>
        <!--mat-divider></mat-divider-->
      </div>
    </mat-list>
  </mat-grid-tile>
</mat-grid-list>
