<mat-toolbar>
  <button mat-icon-button class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Formbuilder</span>
  <span class="example-spacer">
    <button routerLink="" routerLinkActive="active" mat-button>Forms</button>
    <button routerLink="/translation" routerLinkActive="active" mat-button>Translation</button>
  </span>
  <button mat-icon-button class="example-icon favorite-icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
