<h2>Beispiel Formular</h2>
<mat-grid-list cols="12" rowHeight="70px" gutterSize="15px">
  <mat-grid-tile colspan="4" rowpsan="1">
    <app-select name="home_test_select"></app-select>
  </mat-grid-tile>
  <mat-grid-tile colspan="4" rowpsan="1">
    <app-text-input name="home_test_text"></app-text-input>
  </mat-grid-tile>
  <mat-grid-tile colspan="4" rowpsan="1">
    <app-date-input name="home_test_date"></app-date-input>
  </mat-grid-tile>
  <mat-grid-tile colspan="4" rowpsan="1">
    <app-autocomplete
      [config]="autoCompleteConfig"
      [options]="autocompleteOptions"
      name="home_test_autocomplete"
    ></app-autocomplete>
  </mat-grid-tile>
  <mat-grid-tile colspan="4" rowpsan="1">
    <app-slider name="home_test_slider"> </app-slider>
  </mat-grid-tile>
  <mat-grid-tile colspan="4" rowpsan="3">

  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowpsan="1">
    <button
      mat-raised-button
      color="primary"
      [disabled]="!isValid()"
      (click)="save()"
    >
      {{ "save" | translate }}
    </button>
  </mat-grid-tile>
</mat-grid-list>

<app-check-box-group name="home_test_select"> </app-check-box-group>
<app-chips-complete name="home_test_autocomplete" ></app-chips-complete>
<app-file-input name="home_test_file" ></app-file-input>
